<div class="body">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr   *ngFor="let heroe of heroes" (click)="seleccionar(heroe)" [class.selected]="heroe === selectedHeroe">
                <td>{{ heroe.id}}</td>
                <td>{{ heroe.name}} </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <app-heroe-detalle [heroe]="selectedHeroe"></app-heroe-detalle>
      </div>

    </div>
  </div>
</div>
